body{

    background-color: rgb(74, 230, 175);
    margin: 0;
    padding: 0;
    font-family: 'Arial';

}
/*      TITULO      */
label{
    font-style: initial;
    font-size: 35px;
    color:#0482ff;
    display: block;
    font-family: 'Arial';
    margin: 24px;
    }
h1{
    text-transform: uppercase;
    text-align: center;
    font-style: initial;
    font-size: 35px;
    color:linear-gradient(90deg, rgba(4, 130, 255, 0.8) 0%, rgba(237, 17, 17, 0) 100%);
    font-family: 'Arial';
    
}
/*      CJA DE MENSAJES     */
.Cajas-Texto{
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 4%;
}
/*      MENSAJE A ENCRIPTAR            */
.Mensaje{
    font-size: 20px;
    font-family: 'Arial';
    text-align: center;
    margin: 20px;
    width: 340px;
    height: 400px;
    border-radius: 7px;
    border: 2px solid #0482ff;
    display: inline-block;
}

.Mensaje:focus{
    outline: none;
}

/*      MENSAJE INCRIPTADO       */
.Menasaje-incriptado{
    font-size: 20px;
    font-family: 'Arial';
    text-align: center;
    margin: 20px;
    width: 340px;
    height: 400px;
    border-radius: 7px;
    border: 2px solid #0482ff;
    display: inline-block;
}

/*      BOTONES     */
.botones{
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.botones input{
margin: 28px;
width: 340px;
height: 40px;
border-radius: 7px;
}

.btn-inc{
    border: 2px solid #04b8ff;
    background-color: #0482ff;
    color: white;
    font-size: 20px;
    display: inline;
    font-variant: small-caps;
    align-content: center;
}
.btn-inc:hover{
    transition: .2s all ease-in-out;
    border: #334a64 2px solid ;
    background-color: #0056b3;
    cursor: pointer;
}
.btn-des{
    border: 2px solid #c57409;
    background-color: #e7db00;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    display: inline;
    font-variant: small-caps;
}
.btn-des:hover{
    transition: .2s all ease-in-out;
    border: #905a13 2px solid ;
    background-color: #bbb101;
    cursor: pointer;
}
.btn-copy{
    right: 30%;
    text-transform: uppercase;
    display: inline;
    border: 2px solid #006303;
    background-color: #0fd101;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-variant: small-caps;
}
.btn-copy:hover{
    transition: .2s all ease-in-out;
    border: #008310 2px solid ;
    background-color: #0eb22f;
    cursor: pointer;
}